@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Francois One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root { /* global scope */
  --color-primary: #000000;
  --color-primary-alt: rgb(196, 9, 5);
  --color-secondary: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: var(--color-secondary);
  background-image:
    radial-gradient(circle, rgba(196, 9, 5, 0.05) 1px, transparent 1px);
  background-size: 3px 3px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  cursor: default;
  text-align: center;
  padding: 20px 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.container {
  width: 90%;
  max-width: 512px;
}

.profile-pic {
  width: 50%;
  max-width: 360px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 2px solid black;
}

.name {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: var(--color-primary-alt);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.link-button {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

.link-button:hover {
  background-color: var(--color-primary-alt);
  transform: scale(1.05);
}

.footer {
  margin-top: 40px;
  font-size: 14px;
  color: var(--color-primary-alt);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.icon-button {
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  background: none;
  color: var(--color-primary);
}

.icon-button i {
  font-size: 24px;
}

.icon-button:hover {
  transform: scale(1.1);
  color: var(--color-primary-alt);
}

.icon-button:active {
  transform: scale(0.95);
}

.link-button-text {
  font-size: 14px;
  color: var(--color-primary-alt);
}

.copyright {
  margin-top: 15px;
  font-size: 12px;
}


.link-button-text-bold {
  font-size: 1.8em;
}